<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
	<style type="text/css">
		*{
			font-family: 'Montserrat', sans-serif;
			font-weight: 300;
		}

		body{
			background: #333;
		}
		.search {
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    margin-left: -300px;
		    margin-top: -54px;
		    width: 600px;
		}
		.input-search{
			background: none;
			border: 0px;
			width: 600px;
			height: 80px;
			font-size: 50px;
			color: white;
			border-bottom: #b3c33a 5px solid;
			transition: 0.3s all ease-in-out;
		}
		.input-search:focus{
			outline:none;
		}
		h1{
			color: white;
			text-align: center;
		}
		a{color: white;}
		#list{
			margin-top: 100px;
		}
		.heading{
			margin-bottom: 50px;
		}
	</style>
</head>
<body>
<div id="list">
	<h1 class="heading">Previously used tags</h1>

</div>
<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
<script type="text/javascript">
	$(document).ready(function(){
		var data = <%- JSON.stringify(jsonData) %>; 
		for (var i = 0 ; i < data.length; i++){
			$("#list").append("<h1><a href='list/"+data[i].tag+"'>"+data[i].tag+"</a></h1>")
		}
	});
</script>
</body>
</html>